{
  "plugins": [],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [
            ">1%",
            "not dead",
            "not IE 11"
          ]
        }
      }
    ]
  ]
}
