.no-scroll {
  overflow: hidden;
}

.hamburger-menu {
  position: relative;
  z-index: 105;
  -webkit-user-select: none;
  user-select: none;
}

.hamburger-menu button {
  position: relative;
  width: 33px;
  height: 33px;
  padding: 0px;
  border: 0px;
  outline: none;
  background-color: transparent;
  z-index: 500;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
  cursor: pointer;
}

.hamburger-menu button span {
  display: block;
  width: 33px;
  height: 4px;
  position: relative;
  background-color: #141823;
  border-radius: 3px;
  transform-origin: center;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0), background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.hamburger-menu button span:first-of-type {
  margin-bottom: 5px;
}

.hamburger-menu-open button span {
  background-color: white;
  transform: rotate(45deg) translate(3.2px, 3.2px);
}

.hamburger-menu-open button span:last-of-type {
  transform: rotate(-45deg) translate(3.2px, -3.2px);
}

.hamburger-menu-overlay {
  display: block;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 100;
  text-align: center;
  visibility: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 3.5em 0 0 0;
  background-color: #000;
  opacity: 0;
  transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
}

.hamburger-menu-open .hamburger-menu-overlay {
  visibility: visible;
  opacity: 0.9;
}

.hamburger-menu-overlay-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.7;
  color: white;
}

.nav-bar {
  max-width: 52rem;
  width: 100%;
  padding: 0.4em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  margin: 0;
}

.nav-text {
  text-decoration: none;
  z-index: 105;
  font-size: 0.8em;
}

@media only screen and (min-width: 40.063em) {
  .nav-bar {
    padding: 0.8em 0;
  }
}
