body {
  font-family: Avenir, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #141823;
  font-size: 1.0em;
  background-color: #ecedef;
  margin: 0;
  padding: 0 0 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  word-break: break-word;
  background-image: url("../../static/images/background.png");
}

p {
  margin: 1.5em 0;
}

b, strong {
  font-weight: normal;
}

.dropcase>p:first-of-type::first-letter {
  float: left;
  font-size: 3em;
  line-height: 1;
  margin: 0.05em 0.15em -0.1em 0;
  /* initial-letter: 2; Maybe someday*/
}

.content {
  background-color: white;
  padding-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  max-width: 52rem;
  border-radius: 0.3rem;
  transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 0.7rem 1.4rem 0 rgba(0, 0, 0, 0.25), 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.22);
}

.card-container {
  max-width: 52rem;
}

.card-container>a:first-of-type {
  margin-top: 5em;
}

.home-card {
  padding: 0.8em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: white;
  background-position: center center;
  object-fit: cover;
}

.pagination-nav {
  margin: 2em 0;
  width: 100%;
  max-width: 47rem;
}

.pagination-newer {
  float: left;
}

.pagination-older {
  float: right;
}

.button {
  padding: 0.5em 0.6em;
  background-color: #FFF;
  text-decoration: none;
  border-radius: 0.3rem;
  transition: transform 0.1s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.16), 0 0.15rem 0.3rem rgba(0, 0, 0, 0.23);
}

.button:hover {
  box-shadow: 0 0.05rem 0.15rem rgba(0, 0, 0, 0.12), 0 0.05rem 0.1rem rgba(0, 0, 0, 0.24);
  transform: scale(0.97);
}

.button:active {
  transform: scale(1);
}

.side-padding {
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
  box-sizing: border-box !important;
}

.side-text-padding {
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
  box-sizing: border-box !important;
}

.small-img {
  width: unset;
  max-width: 100%;
  margin: 1.5em auto;
}

.muted-text {
  color: #7a7b7c;
}

.katex-display {
  margin: 1.5em 0;
  overflow-x: auto;
  overflow-y: hidden;
}

#disqus_thread {
  margin-top: 5em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 -0.5em 0;
  clear: both;
}

blockquote {
  border-left: 0.3em solid #D1D1D1;
  margin: 1.5em 0.8em;
  padding: .5em 0.5em;
  font-style: italic;
}

blockquote p {
  display: inline;
}

ul, ol {
  padding-left: 1.6em;
}

li ul, li ol {
  padding-left: 1em;
}

li>p {
  margin: 0;
}

hr {
  border: 0;
  border-bottom: thin solid #D1D1D1;
  margin: 3em 0;
  clear: both;
}

a {
  color: #141823;
}

table {
  color: #141823;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1.5em 0;
}

td, th {
  padding: 0.5em 1em;
  border: thin solid #D1D1D1
}

th {
  font-weight: normal
}

tr:nth-child(even) td {
  background: #f5f6f7;
}

footer {
  padding: 2em 0;
  margin: 2em 0 0 0;
}

/* Medium devices (tablets, ~641px and up) */

@media only screen and (min-width: 40.063em) {
  body {
    font-size: 1.15rem;
  }
  .content {
    border-radius: 0.2rem;
  }
  .button {
    border-radius: 0.2rem;
  }
  .smartfloat-right {
    float: right;
    margin: 0em 0em 1em 1em;
  }
  .smartfloat-left {
    float: left;
    margin: 0em 1em 1em 0em;
  }
}
