.body {
  font-family: Avenir, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #141823;
  font-size: 1.0em;
  background-color: #ecedef;
  margin: 0;
  padding: 0 0 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  word-break: break-word;
  background-image: url("../../static/images/background.png");
}

/* Medium devices (tablets, ~641px and up) */

@media only screen and (min-width: 40.063em) {
  .body {
    font-size: 1.15rem;
  }
}
